div{
    width:100px;
    height:200px;
    background-color: blue;
    
}





/*500px and below*/
@media screen and (max-width:500px){
    div{
        background-color: red;
        width:50%
    }

    body{
background-color: yellow;
    }
}
/* 501px and above 800px and below*/  
@media screen and (min-width:501px )and (max-width:800px){
    div{
        background-color: purple;
        width:80% !important
    }


body{
    background-color: plum;
}
}