div{
    width: 200px;
    height:200px;
    background-color: blue;
    border:2px solid;
    transition: width 3s ease 2s, background-color 4s,transform 4s;
}

.transform-effect{
    transform:translate(200px,50px);
    transform:rotate(180deg) ;
    transform:scale(2);
    transform:skew(30deg,20deg);
}

div:hover{
    width: 500px;
    background-color: yellow;
    transform: (30deg);
}